.places {
    max-width: 984px;
    margin: 0 auto;
  }

@media screen and (max-width: 946px) {
  .places {
    max-width: 850px;
  }
}
  @media screen and (max-width: 768px) {
    .places {
      padding-left: 24px;
      padding-bottom: 88px;
    }
  }

  @media screen and (max-width: 320px) {
    .places {
      padding-left: 0;
      padding-bottom: 0;
    }
  }