.places {
    max-width: 987px;
    margin: 0 auto;
    margin-top: 92px;
  }

  @media screen and (max-width: 768px) {
    .places {
      margin-top: 88px;
      padding-left: 24px;
      padding-bottom: 88px;
    }
  }

  @media screen and (max-width: 320px) {
    .places {
      padding-top: 64px;
      padding-left: 0;
      padding-bottom: 64px;
    }
  }