/*grid doesn't work properly, but leaving in place for reference*/

.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
  }
  /*display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: auto 460px auto;
  grid-gap: 48px 40px;
  grid-template-areas: 
  "title artist"
  "image text"
  "button text";*/


/*@media screen and (max-width: 768px) {
  .place {
    grid-gap: 28px 20px;
    padding-bottom: 72px;
    grid-template-areas: 
    "title artist"
    "image text"
    "button text";
  }
  .place:last-child{
    padding-bottom: 0px;
  }
}

  @media screen and (max-width: 320px) {
    .place {
      grid-gap: 0px;
      margin-bottom: 48px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
      "title artist"
      "image text"
      "button text";
    }
  }*/

 
