.place {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/

  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas: 
  "title artist"
  "image text"
  "button text";
  }
