.cover__subtitle {
    max-width: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    z-index: 1;
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      width: 288px;
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }