.place__main-text {
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  grid-area: text;
  }

  @media screen and (max-width: 946px) {
    .place__main-text {
      max-width: 352px;
      font-size: 16px;
      line-height: 26.08px;
    }
  }

  @media screen and (max-width: 643px) {
    .place__main-text {
      max-width: 579px;
      margin: 0 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .place__main-text {
      max-width: 288px;
      margin: 0 16px;
    }
  }