.cover__button {
    width: 197px;
    height: 48px;
    margin-top: 32px;
    z-index: 2;
  }

  @media screen and (max-width: 320px) {
    .cover__button {
      width: 137px;
      height: 48px;
      margin: 0 auto;
    }
  }