.lead__title {
    width: 793px;
    padding: 0;
    margin: auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
  }
  
  
  @media screen and (max-width: 768px) {
    .lead__title {
      max-width: 720px;
    }
  }
    
  @media screen and (max-width: 320px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
    }
  }