.place__paragraph {
  margin: 0;
  margin-bottom: 25px;
  }

  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      max-width: 340px;
    }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph:last-child {
      margin-bottom: 0;
    }
  }