.place__paragraph {
    max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0;
  }

  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      max-width: 340px;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph {
      max-width: 288px;
      font-size: 16px;
      line-height: 26.08px;
      margin: 16px;
      margin-top: 2px;
    }
  }