.footer__copyright {
    width: 165px;
    margin-top: 92px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  @media screen and (max-width: 320px) {
    .footer__copyright {
      margin: 0;
      padding-top: 64px;
      line-height: 14px;
    }
  }