.footer__copyright {
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  @media screen and (max-width: 320px) {
    .footer__copyright {
      padding-top: 64px;
      line-height: 14px;
    }
  }