.button__link {
    width: 208px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
  }

  @media screen and (max-width: 320px) {
    .button__link {
      line-height: 21.78px;
    }
  }