.cover {
    max-width: 1184px;
    height: 740px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/__background.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
  }

  @media screen and (max-width: 320px) {
    .cover {
      width: 320px;
      height: 254px;
    }
  }