.cover__overlay {
    max-width: 1184px;
    min-height: 740px;
    transition: opacity 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../images/__background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    z-index: 1;
  }

  .cover__overlay::before{
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    z-index: -1;
  }
  
  .cover__overlay:hover::before {
    opacity: 0.8;
  }

  @media screen and (max-width: 320px) {
    .cover__overlay {
      max-width: 320px;
      min-height: 254px;
    }
  }

 
  
