.cover__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }

  @media screen and (max-width: 320px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }
  