.cover__title {
    width: 656px;
    margin-top: 243px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
  }
  