.page {
  background: #2A2C2F;
  font-family: Inter, Arial, serif;
  /*font family needs looked at*/
}

.content {
  max-width: 1184px;
  margin: auto;
}

/*header section*/
.header {
  top: 34px;
  bottom: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid 1px red;
}*/

.header__logo { 
  max-width: 271px;
  max-height: 72px;
  top: 12px;
  border: solid 1px red;
}


/*lead section*/
.lead {
  top: 92px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px red;
}

.lead__title {
  width: 793px;
  height: 200px;
  padding: 0;
  /*left: 232px;*/
  /*top: 198px;*/
  /*font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;*/
/* or 104% */
  color: #FFFFFF;
  border: solid 1px red;
}

.lead__subtitle{ 
  width: 720px;
  height: 72px;
  margin-bottom: 64px;
  margin-top: 32px;
  /*font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;*/
  color: #FFFFFF;
  border: solid 1px red;
}

.lead__image {
  width: 984px;
  height: 615px;
  filter: grayscale(100%);
  border: solid 1px red;
}

/*intro section
.intro {
  width: 785px;
  height: 490px;
  left: 148px;
  top: 1273px;
  border: solid 1px red;
}

.intro__title {
  width: 785px;
  height: 116px;
  left: 148px;
  top: 1273px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
/* or 107% 
  color: #FFFFFF;
  border: solid 1px red;
}

.intro__text {
  width: 690px;
  height: 34px;
  left: 148px;
  top: 1541px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
/* identical to box height, or 142% 
  text-align: right;
  color: #FFFFFF;
  border: solid 1px red;
}

.photo-grid {
  width: 1184px;
  height: 442px;
  left: 48px;
  top: 1881px;
  display: grid;
  border: solid 1px red;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
  left: 48px;
  top: 1881px;
  background: url(image.png);
  border: solid 1px red;
}

.places {
  width: 987px;
  height: 4098px;
  left: 145px;
  top: 2415px;
  border: solid 1px red;
}

.place {
  border: solid 1px red;
}

.place__title {
  width: 460px;
  height: 152px;
  left: 145px;
  top: 5757px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% 
  color: #FFFFFF;
  border: solid 1px red;
}

.place__website {
  width: 456px;
  height: 45px;
  left: 648px;
  top: 4954px;
  border: solid 1px red;
}

.place__url-heading {
  width: 50px;
  height: 15px;
  left: 648px;
  top: 4954px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height 
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
  border: solid 1px red;
}

.place__link {
  width: 456px;
  height: 22px;
  left: 648px;
  top: 4977px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% 
  border: solid 1px red;
  color: #FFFFFF;
}

.place__image {
  width: 460px;
  height: 460px;
  left: 148px;
  top: 5047px;
  border: solid 1px red;
  background: url(image.png);
}

.place__main-text {
  border: solid 1px red;
}

.place__paragraph {
  width: 484px;
  height: 174px;
  left: 648px;
  top: 5047px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px 
  border: solid 1px red;
  color: #FFFFFF;
}

.button {
  border: solid 1px red;
}

.button__link {
  width: 208px;
  height: 22px;
  left: 20px;
  top: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
/* Inside Auto Layout 
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.cover {
  width: 1184px;
  height: 740px;
  left: 48px;
  top: 6605px;
  border: solid 1px red;
}

.cover__title {
  width: 656px;
  height: 76px;
  left: 312px;
  top: 6848px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% 
  text-align: center;
  border: solid 1px red;
  color: #FFFDFD;
}

.cover__subtitle {
  width: 320px;
  height: 66px;
  left: 479px;
  top: 6956px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% 
  text-align: center;
  border: solid 1px red;
  color: #FFFFFF;
}

.cover__link {
  width: 97px;
  height: 22px;
  left: 20px;
  top: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height 
  color: #FFFFFF;
  border: solid 1px red;
  /* Inside Auto Layout 
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.footer {
  width: 165px;
  height: 16px;
  left: 557px;
  top: 7437px;
  border: solid 1px red;
}

.footer__copyright {
  width: 165px;
  height: 16px;
  left: 557px;
  top: 7437px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% 
  text-align: right;
  border: solid 1px red;
  color: #FFFFFF;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  width: 137px;
  height: 48px;
  left: 569px;
  top: 7054px;
  background: #0278FE;
  border-radius: 4px;
  border: solid 1px red;
}

