.page {
  background: #2A2C2F;
}

.content {
  max-width: 1184px;
  margin: auto;
  font-family: "Inter";
  color: #FFFFFF;
}

/*header section*/
.header {
  max-width: 984px;
  padding-top: 34px; 
  padding-bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.header__logo { 
  width: 271px;
  margin-top: 12px;
  
}


/*lead section*/
.lead {
  max-width: 984px;
  padding-top: 92px;
  margin: auto;
  text-align: center;
  
}

.lead__title {
  width: 793px;
  padding: 0;
  margin: auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  
}

.lead__subtitle{ 
  width: 720px;
  margin: auto;
  margin-bottom: 64px;
  margin-top: 32px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  
}

.lead__image {
  max-width: 100%;
  filter: grayscale(100%);
}

/*intro section*/
.intro {
  max-width: 984px;
  margin: auto;
  padding-bottom: 118px;
  
}

.intro__title {
  width: 785px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  
}

.intro__quote {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  
}

.intro__name {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 10px 0 0;
  
}

.intro__description {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  margin: 32px 0 0;
  
}

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 0;
  
}

.photo-grid__item {
  width: 284px;
  height: 213px;
  margin: auto;
  /*still need padding between photos*/
  
}

.places {
  max-width: 987px;
  margin: auto;
  margin-top: 92px;
  
}

.place { /*need to have a look at this layout*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.place__title {
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  
}

.place__website {
  width: 456px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
  
}

.place__url-heading {
  width: 50px;
  height: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
  
}

.place__link {
  width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  text-decoration: none;
}

.place__image {
  width: 460px;
  height: 460px;
  margin-right: 40px;
  margin-top: 48px;
}

.place__main-text {
  padding-top: 48px;
}

.place__paragraph {
  width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.button {
  background: #0278FE;
  border-radius: 4px;
  width: 248px;
  height: 48px;
  margin-top: 48px;
  margin-bottom: 80px;
  /*need to get rid of border shadow*/
}

.button__link {
  width: 208px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
/* Inside Auto Layout 
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;*/
}

.cover {
  max-width: 1184px;
  height: 740px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/__background.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  
}

.cover__title {
  width: 656px;
  margin-top: 243px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 2;
  
}

.cover__subtitle {
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 2;
  
}

.cover__button {
  width: 197px;
  height: 48px;
  margin-top: 32px;
  z-index: 2;
}

.cover__link {
  width: 97px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
  
  /* Inside Auto Layout 
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;*/
}

.cover__overlay {
  background-color: #2A2C2F;
  position: absolute;
  opacity: 0.3;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.cover__overlay:hover {
  opacity: 0.8;
}

.footer {
  width: 165px;
  margin: auto;
  
}

.footer__copyright {
  width: 165px;
  margin-top: 92px;
  padding-bottom: 24px;
  /*why is there a white strip at the bottom?*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  
}


