.button {
    background: #0278FE;
    border-radius: 4px;
    width: 248px;
    height: 48px;
    transition: background-color 0.3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: button;
    margin-top: 48px;
  }
  
  .button:hover {
    background-color: #0077ffa9;
  }

  @media screen and (max-width: 320px) {
    .button {
      width: 288px;
      margin: 0 auto;
      margin-top: 14px;
    }
  }

