.button {
    background: #0278FE;
    border-radius: 4px;
    max-width: 248px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear;
    cursor: pointer;
    grid-area: button;
  }
  
  .button:hover {
    background-color: #0077ffa9;
  }

  @media screen and (max-width: 710px) {
    .button {
      margin-top: 48px;
    }
  }

  @media screen and (max-width: 643px) {
    .button {
      max-width: 288px;
      width: 100%;
      margin: 0 auto;
    }
  }
